# This file contains lines mentioning frame files to install by icmstart
# empty lines and lines starting with # are ignored.

# Files and directories are installed by tar, see icmstart(1)'s man-page
# Confirmation to install is required for entries on lines starting with ?

main.cc     
main.ih     
usage.cc
version.cc

? scanner parser
