Source: icmake
Section: devel
Priority: optional
Maintainer: Francesco Paolo Lovergine <frankie@debian.org>
Build-Depends: debhelper (>= 2), dpatch 
Standards-Version: 3.7.2

Package: icmake
Architecture: any
Depends: ${shlibs:Depends}
Description: Intelligent C-like MAKEr, or the ICce MAKE utility
 Icmake is a hybrid between a 'make' utility and a 'shell script'
 language.  Originally, it was concocted to provide a useful tool for
 automatic program maintenance and system administrative tasks on MS-DOS
 platforms. 
